@import '~react-user-guide/dist/custom-style.css';
.sidebar{
    width: 18vw;
    /* min-width: 150px; */
    position: absolute;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    height: 91vh;
    background-color:#0e2238;
  
  }


  .sidebar_active {
    width: 250px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    height: 91vh;
    position: absolute;
    left: 0px;
    background-color:#0e2238;
  }
  @media (max-width:850px) { 
    .sidebar{
      width: 250px;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
      height: 91vh;
      position: absolute;
      left: -320px;
    position: absolute;
    background-color:#2d325c;
        
    }

    .form-select {
     width: 70%;
}
  }
  .sideitem{
    cursor: pointer; 
    color:  #fbfcfa;
    
  }
  ._side_icon{
    cursor: pointer; 
    color:  #fbfcfa !important;
  }

  .sideitem:hover{
    /* background-color: #ca5cdd;
    color: #fbfcfa; */
    transition: color 100ms ease-out;
    font-variant: normal;
  }


.linkstyle{
    text-decoration: none;
    
}
.linkstyle:hover .sideitem {
  background-color: rgb(11 51 70);
  color: #fbfcfa;
}

.linkstyle:hover ._side_icon
{
  background-color: rgb(11 51 70);
  color: #fbfcfa;
}

.userGuide--modal h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: #4d7dbd;
  margin-bottom: 1rem;
}

.userGuide--message h3 {
  font-size: 20px !important;
  color: #4d7dbd;
  align-items: left;
  }
  .userGuide--message p{
    opacity: 0.5;
  }

  .userGuide--mask {

    background-color: rgba(0, 0, 0, 0.3) !important;
}
.form-select {
  width: 70%;
}
