@import '~react-user-guide/dist/custom-style.css';
.sidebar{
    width: 18vw;
    /* min-width: 150px; */
    position: absolute;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    height: 91vh;
    background-color:white;
  
  }


  .sidebar_active {
    width: 250px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    height: 91vh;
    position: absolute;
    left: 0px;
    background-color:white;
  }
  @media (max-width:850px) { 
    .sidebar{
      width: 250px;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
      height: 91vh;
      position: absolute;
      left: -320px;
    position: absolute;
    background-color:#2d325c;
        
    }
    
  }
  .sideitem{
    cursor: pointer; 
    color: #121312;
  }
   .sideitem:hover{
    background-color: #ca5cdd;
    /* color: #50b7f5; */
    color: #fbfcfa;
    transition: color 100ms ease-out;
    font-variant: normal;
  }

  .linkstyle{
    text-decoration: none;
    color: #333;
}

.userGuide--modal h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: #4d7dbd;
  margin-bottom: 1rem;
}

.userGuide--message h3 {
  font-size: 20px !important;
  color: #4d7dbd;
  align-items: left;
  }
  .userGuide--message p{
    opacity: 0.5;
  }

  .userGuide--mask {

    background-color: rgba(0, 0, 0, 0.3) !important;


}

.sidebar_icon:hover{
  color: white;
}
