table td ,table th{
    white-space: nowrap;
    padding: 1.05rem 0.75rem;
}
.filter{
    float: right;
}
 /* .tablebody{
    color: #fff;
   
} */
/* .tablebody:hover{
    color: #fff !important;
}  */
@media (max-width:850px){
    .mobile td{
        width: 50%;
    }
}
.tableHover{
    /* border: 5px solid rgb(220, 223, 234); */
    border: 5px solid #f5f6fa;
    border-right: none;
    border-left: none;
    border-radius: 5px;

}
.tableHover:hover{
    background-color: #eeebf3;

}
.headHover{
    background-color: #eeebf3;
    color: brown;
}
/* .headHover:hover{
    background-color: #7c55c4;
    
} */


.dealsInner{
    text-align: left !important;
}

