table tr:nth-child(odd) {
    background-color: #ebebeb;
}

table{
    width: 100%;
}

table tr th {
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width:900px) {
    table tr th {
        width: 20%;
    }
    
}