.filters12 ul{
    list-style-type: none;
    flex-wrap: wrap;
}
.filters12 ul li {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px 0 0 10px;
    border-radius: 5px;
    color:white;
    font-size: 12px;
}
.flowing::-webkit-scrollbar{
    display: none;
    scrollbar-width: 0;
}
.flowing{
    scrollbar-width: none;
    overflow: auto;
    max-height: 79vh;  
}
.inner_results{
    margin-left: 25vw;
}
.fixed_side {
    position: fixed;
}
.filter_fixed{
    background-color: white;
    color: black;
}
.sidebar_togg{
    width: 100%;
}

.result-card {
    background-color: white;
    
}
.result-card p, .result-card h6 {
    color: black;
}
.result-card:hover {
    /* transform: scale(1.002); */
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: 500ms;
}
/* .result-card:hover p, .result-card:hover h6 {
    color: white;
} */
.search_ico {
    color:#5322e5;
    font-size: 16px;
}
.fixed_hr {
    border-bottom: 1px solid white;
}
@media (max-width:700px) {
    .sidebar_togg{
        width: 0px;
        height: 0px;
    }

    .sidebar_togg_true{
        width: 85%;
        position: absolute;
        left: 0;
        z-index: 99;
        max-height: 100vh;
    }
    .inner_results{
        margin-left: 0;
    }
    .fixed_side {
        position: relative;
    }
}